samples:
    - ggF
    - VBF
    - WH
    - ZH
    - ttH
    # - vjetsNLO    
    - WJetsLNu
    - TTbar
    - SingleTop
    - Diboson
    - EWKvjets
    - DYJets
    - WZQQ
    - Data

regions_sel:

    "VBF": (n_bjets_T==0) & (THWW>0.905) & ( (mjj>1000) & (deta>3.5) & (NumOtherJets>=2) ) & (rec_higgs_pt>250)
    "ggFpt250to350": (n_bjets_T==0) & (THWW>0.93) & ( (mjj<1000) | (deta<3.5) | (NumOtherJets<2) ) & (rec_higgs_pt>250) & (rec_higgs_pt<350) & (VH_fj_VScore<0.9)
    "ggFpt350to500": (n_bjets_T==0) & (THWW>0.93) & ( (mjj<1000) | (deta<3.5) | (NumOtherJets<2) ) & (rec_higgs_pt>350) & (rec_higgs_pt<500) & (VH_fj_VScore<0.9)
    "ggFpt500toInf": (n_bjets_T==0) & (THWW>0.93) & ( (mjj<1000) | (deta<3.5) | (NumOtherJets<2) ) & (rec_higgs_pt>500) & (VH_fj_VScore<0.9)
    "WJetsCR": (n_bjets_T==0) & (THWW<0.905) & (rec_higgs_pt>250) & (NumFatjets>=2)
    "TopCR": (n_bjets_T>0) & (rec_higgs_pt>250) & (THWW>0.90)

regions_binning:  # (low_range, high_range, binning)

    "VBF": [55, 255, 20]
    "ggFpt250to350": [55, 255, 20]
    "ggFpt350to500": [55, 255, 20]
    "ggFpt500toInf": [55, 255, 20]
    "WJetsCR": [55, 255, 20]
    "TopCR": [55, 255, 20]

samples_dir:
    "2018": ../eos/hww/Dec20_hww_2018
    "2017": ../eos/hww/Dec20_hww_2017
    "2016": ../eos/hww/Dec20_hww_2016
    "2016APV": ../eos/hww/Dec20_hww_2016APV

model_path: ../../weaver-core-dev/experiments_finetuning/v35_30/model.onnx
